.MainContainer{
    display: flex;
    justify-content: center;  /* centers horizontally */
    align-items: center;      /* centers vertically */
    height: 100vh;            /* full viewport height */
    flex-direction: column;
}